<html>

<head>
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    <meta content="text/html;charset=UTF-8" http-equiv="Content-Type">
    style
        include ./view_mail_etiquetas_2022.css
</head>

<body style="margin: 0; padding: 0; font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: rgb(0, 0, 0)">
    <span style="display: none"></span>
    <center>
        <div class="zppage-container">
            <table bgcolor="#f8f9fb" border="0" cellpadding="0" cellspacing="0" class="contentOuter" id="contentOuter" style="background-color: rgb(240, 240, 240); background-color: rgb(248, 249, 251); font-size: 12px; text-align: center; border: 0px; padding: 0px; border-collapse: collapse" width="100%">
                <tbody>
                    <tr>
                        <td style="border: 0px; padding: 0px; border-collapse: collapse">&nbsp;</td>
                        <td align="center" style="border: 0px; padding: 0px; border-collapse: collapse">
                            <table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" class="contentInner" id="contentInner" style="border-collapse: collapse; border: 0px; font-size: 12px; background-color: rgb(255, 255, 255); background-color: rgb(255, 255, 255); width: 600px; margin: 0px auto; border: 0px" width="600">
                                <tbody>
                                    <tr>
                                        <td height="570" style="border: 0px; padding: 0px" valign="top"> 
                                            <a name="Top" style="text-decoration: underline" target="_blank"></a>
                                            <div class="zpcontent-wrapper" id="page-container">
                                                <table border="0" cellpadding="0" cellspacing="0" id="page-container" style="font-size: 12px; border: 0px; padding: 0px; border-collapse: collapse; text-decoration: none !important" width="100%">
                                                    <tbody>
                                                        <tr>
                                                            <td class="txtsize" id="elm_1596451104787" style="border: 0px; padding: 0px 0px; border-collapse: collapse" valign="top">
                                                                <table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" style="font-size: 12px; border: 0px; padding: 0px; width: 100%; border-collapse: collapse; background-color: rgb(255, 255, 255)">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td class="txtsize" style="border: 0px; padding: 0px 0px; border-top: none none none; border-bottom: none none none">
                                                                                <div class="zpelement-wrapper image" id="elm_1596451104787" style="word-wrap: break-word; overflow: hidden; padding: 0px; background-color: rgb(255, 255, 255)">
                                                                                    <div>
                                                                                        <table align="center" border="0" cellpadding="0" cellspacing="0" class="zpAlignPos" style="font-size: 12px; text-align: left; width: 100%; padding: 0px; border: 0px; border-collapse: collapse; width: 100%; text-align: center">
                                                                                            <tbody>
                                                                                                <tr>
                                                                                                    <td class="paddingcomp" style="border: 0px; padding: 7px 15px; text-align: center; padding-top: 15px; padding-bottom: 15px; padding-right: 30px; padding-left: 30px">
                                                                                                        <img align="center" class="zpImage" height="auto" hspace="0" size="F" src="https://campaign-image.com/zohocampaigns/918431000000385006_zc_v22_1652742190470_header_wsc___(1).png" style="width: 540px; max-width: 540px !important; border: 0px; text-align: center" vspace="0" width="540">
                                                                                                    </td>
                                                                                                </tr>
                                                                                                <tr>
                                                                                                    <td class="txtsize" style="border: 0px; padding: 0px; text-align: left; margin: 0px auto" width="540">
                                                                                                        <div class="zpImageCaption" style="text-align: center; margin: 0px auto; padding: 0px">
                                                                                                        </div>
                                                                                                    </td>
                                                                                                </tr>
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </div>
                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="txtsize" id="elm_1584961354868" style="border: 0px; padding: 0px 0px; border-collapse: collapse" valign="top">
                                                                <table bgcolor="transparent" border="0" cellpadding="0" cellspacing="0" style="font-size: 12px; border: 0px; padding: 0px; width: 100%; border-collapse: collapse; background-color: transparent">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td class="txtsize" style="border: 0px; padding: 0px 0px; border-top: none none none; border-bottom: none none none">
                                                                                <div class="zpelement-wrapper image" id="elm_1584961354868" style="word-wrap: break-word; overflow: hidden; padding: 0px; background-color: transparent">
                                                                                    <div>
                                                                                        <table align="left" border="0" cellpadding="0" cellspacing="0" class="zpAlignPos" style="font-size: 12px; text-align: left; width: 100%; padding: 0px; border: 0px; border-collapse: collapse; width: 100%; text-align: left">
                                                                                            <tbody>
                                                                                                <tr>
                                                                                                    <td class="paddingcomp" style="border: 0px; padding: 7px 15px; text-align: center; padding-top: 0px; padding-bottom: 0px; padding-right: 1px; padding-left: 1px"> 
                                                                                                        <img align="left" class="zpImage" height="auto" hspace="0" size="F" src="https://campaign-image.com/zohocampaigns/918431000000385006_zc_v37_1652912595443_banner_mail_etiquetas.png" style="width: 598px; max-width: 598px !important; border: 0px; text-align: left" vspace="0" width="598">
                                                                                                    </td>
                                                                                                </tr>
                                                                                                <tr>
                                                                                                    <td class="txtsize" style="border: 0px; padding: 0px; text-align: left; margin: 0px auto" width="598">
                                                                                                        <div class="zpImageCaption" style="text-align: center; margin: 0px auto; padding: 0px">
                                                                                                        </div>
                                                                                                    </td>
                                                                                                </tr>
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </div>
                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="txtsize" id="elm_1584962556173" style="border: 0px; padding: 0px 0px; border-collapse: collapse" valign="top">
                                                                <div class="zpelement-wrapper" id="elm_1584962556173" style="word-wrap: break-word; overflow: hidden; padding-right: 0px; background-color: rgb(255, 255, 255)"> 
                                                                    <table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" class="zpAlignPos" style="font-size: 12px; padding: 0px; border: 0px; border-collapse: collapse" width="100%">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td class="paddingcomp" style="border: 0px; padding: 7px 15px; line-height: 23pt; border-top: 0px none; border-bottom: 0px none; padding-top: 7px; padding-bottom: 7px; padding-right: 100px; padding-left: 100px">
                                                                                    <div style="background-color: rgb(255, 255, 255)">
                                                                                        <p align="center" style="line-height: 1.7; font-family: Arial, verdana; font-size: 12px; color: rgb(0, 0, 0); padding: 0px; margin: 0; text-align: center; line-height: 23pt">
                                                                                            <span style="font-size: 12pt; color: rgb(100, 100, 100); font-family: Arial, Helvetica">Hola,&nbsp;#{representante}</span><br>
                                                                                        </p>
                                                                                    </div>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="txtsize" id="elm_1652742356455" style="border: 0px; padding: 0px 0px; border-collapse: collapse" valign="top">
                                                                <div class="zpelement-wrapper" id="elm_1652742356455" style="word-wrap: break-word; overflow: hidden; padding-right: 0px; background-color: rgb(255, 255, 255)">
                                                                    <table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" class="zpAlignPos" style="font-size: 12px; padding: 0px; border: 0px; border-collapse: collapse" width="100%">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td class="paddingcomp" style="border: 0px; padding: 7px 15px; line-height: 19pt; border-top: 0px none; border-bottom: 0px none; padding-top: 7px; padding-bottom: 7px; padding-right: 45px; padding-left: 45px">
                                                                                    <div style="background-color: rgb(255, 255, 255)">
                                                                                        <p align="center" style="line-height: 1.7; font-family: Arial, verdana; font-size: 12px; color: rgb(0, 0, 0); padding: 0px; margin: 0; text-align: center; line-height: 19pt">
                                                                                            <font style="font-size: 13pt">
                                                                                                <span style="color: rgb(51, 51, 51); font-family: Arial, Helvetica; line-height: 19pt">Adjuntamos nuestras nuevas etiquetas. Ahora podrás enviar tu carga a la bodega que te resulte más conveniente</span><span style="color: rgb(51, 51, 51); font-family: Arial, Helvetica">.</span>
                                                                                            </font><br>
                                                                                        </p>
                                                                                    </div>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="txtsize" id="elm_1584962662211" style="border: 0px; padding: 0px 0px; border-collapse: collapse" valign="top">
                                                                <div class="zpelement-wrapper" id="elm_1584962662211" style="word-wrap: break-word; overflow: hidden; padding-right: 0px; background-color: rgb(255, 255, 255)">
                                                                    <table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" class="zpAlignPos" style="font-size: 12px; padding: 0px; border: 0px; border-collapse: collapse" width="100%">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td class="paddingcomp" style="border: 0px; padding: 7px 15px; line-height: 19pt; border-top: 0px none; border-bottom: 0px none; padding-top: 7px; padding-bottom: 7px; padding-right: 30px; padding-left: 30px">
                                                                                    <div style="background-color: rgb(255, 255, 255)">
                                                                                        <p align="center" style="font-family: Arial, verdana; font-size: 12px; color: rgb(0, 0, 0); padding: 0px; margin: 0; line-height: 19pt; text-align: center">
                                                                                            <font color="#fe0713" face="Arial, Helvetica" style="font-size: 13pt"><b style="">Descarga el PDF </b>con las nuevas etiquetas</font>
                                                                                        </p>
                                                                                    </div>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="txtsize" id="elm_1599197907837" style="border: 0px; padding: 0px 0px; border-collapse: collapse" valign="top">
                                                                <div class="zpelement-wrapper divider" id="elm_1599197907837" style="word-wrap: break-word; overflow: hidden">
                                                                    <table bgcolor="" border="0" cellpadding="0" cellspacing="0" class="zpAlignPos" style="padding: 0px; border: 0px; border-collapse: collapse; font-size: 5px" width="100%">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td class="txtsize" style="border: 0px; padding: 18px 7px 18px 7px; border-collapse: collapse">
                                                                                    <div class="divider" style="margin: 0px; padding: 0px; text-align: center">
                                                                                        <table align="center" border="0" cellpadding="0" cellspacing="0" class="dvdrtbl" style="border-collapse: collapse; font-size: 12px; border: 0px; font-size: 0px; width: 90%; margin: auto" width="90%">
                                                                                            <tbody>
                                                                                                <tr>
                                                                                                    <td align="center" height="0" style="border: 0px; padding: 7px; border-bottom: none rgb(201, 201, 201); border-left: none rgb(201, 201, 201); border-right: none rgb(201, 201, 201); font-size: 0px; margin: 0px; padding: 0px; width: 100%; border-top: 1px solid rgb(201, 201, 201)" width="100%">&nbsp; &nbsp;&nbsp; </td>
                                                                                                </tr>
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </div>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="txtsize" id="elm_1614841992845" style="border: 0px; padding: 0px 0px; border-collapse: collapse" valign="top">
                                                                <div class="zpelement-wrapper" id="elm_1614841992845" style="word-wrap: break-word; overflow: hidden; padding-right: 0px; background-color: rgb(206, 206, 206)"> 
                                                                    <table bgcolor="#cecece" border="0" cellpadding="0" cellspacing="0" class="zpAlignPos" style="font-size: 12px; padding: 0px; border: 0px; border-collapse: collapse" width="100%">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td class="paddingcomp" style="border: 0px; padding: 7px 15px; line-height: 19pt; border-top: 0px none; border-bottom: 0px none; padding-top: 7px; padding-bottom: 7px; padding-right: 15px; padding-left: 15px">
                                                                                    <div style="background-color: rgb(206, 206, 206)"> 
                                                                                        <p align="center" style="line-height: 1.7; font-family: Arial, verdana; font-size: 12px; color: rgb(0, 0, 0); padding: 0px; margin: 0; text-align: center">
                                                                                            <span style="font-size: 14.6667px">
                                                                                                <font color="#444343">Síguenos</font>
                                                                                            </span>
                                                                                        </p>
                                                                                    </div>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="txtsize" id="elm_1596440277402" style="border: 0px; padding: 0px 0px; border-collapse: collapse" valign="top">
                                                                <div class="zpelement-wrapper wdgts" id="elm_1596440277402" style="overflow: hidden; word-wrap: break-word">
                                                                    <table bgcolor="#cecece" border="0" cellpadding="0" cellspacing="0" class="zpAlignPos" style="padding: 0px; border: 0px; border-collapse: collapse; font-size: 5px; background-color: rgb(206, 206, 206)" width="100%">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td style="padding: 7px 15px; border: 0px; font-size: 5px; border-top: 0px none; border-bottom: 0px none">
                                                                                    <table align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse; font-size: 12px; min-width: 100%; border: none" width="100%">
                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td align="center" style="border: none; padding: 0px; margin: 0px" valign="top">
                                                                                                    <table align="center"  border="0" cellpadding="0" cellspacing="0" style="font-size: 12px; border-collapse: collapse; border: none; margin: auto">
                                                                                                        <tbody>
                                                                                                            <tr>
                                                                                                                <td align="left" style="border: none; padding: 0px; margin: 0px" valign="top">
                                                                                                                    <table align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse; font-size: 12px; border: none">
                                                                                                                        <tbody>
                                                                                                                            <tr>
                                                                                                                                <td align="left" style="border: none; padding: 0px; margin: 0px" valign="top">
                                                                                                                                    <table align="left" border="0" cellpadding="0" cellspacing="0" style="font-size: 12px; border-collapse: collapse; border: none">
                                                                                                                                        <tbody>
                                                                                                                                            <tr>
                                                                                                                                                <td style="padding-right: 9px; padding-bottom: 9px; border: none; padding: 0px; margin: 0px" valign="top">
                                                                                                                                                    <table border="0" cellpadding="0" cellspacing="0" style="font-size: 12px; border-collapse: separate; border: none">
                                                                                                                                                        <tbody>
                                                                                                                                                            <tr>
                                                                                                                                                                <td align="left" style="padding: 7px; padding-top: 0px; padding-right: 9px; padding-bottom: 0px; padding-left: 9px; border: none" valign="middle">
                                                                                                                                                                    <table align="left" border="0" cellpadding="0" cellspacing="0" style="font-size: 12px; border-collapse: collapse; border: none">
                                                                                                                                                                        <tbody>
                                                                                                                                                                            <tr>
                                                                                                                                                                                <td align="center" style="border: none; padding: 0px; margin: 0px; padding-bottom: 6px" valign="middle">
                                                                                                                                                                                    <a href="https://web.facebook.com/WSCARGOSCL"  style="text-decoration: underline; display: block; font-size: 1px" target="_blank" rel="noopener noreferrer">
                                                                                                                                                                                        <img alt="Facebook" height="35" src="https://campaign-image.com/zohocampaigns/918431000000385006_1_1652745088029_zcsclwgtfb5.png" style="border: 0px; margin: 0px; outline: none; text-decoration: none; width: 25px; height: 25px" vspace="10" width="35">
                                                                                                                                                                                    </a>
                                                                                                                                                                                </td>
                                                                                                                                                                            </tr>
                                                                                                                                                                            <tr>
                                                                                                                                                                                <td align="center" style="border: none; padding: 0px; margin: 0px" valign="middle"> 
                                                                                                                                                                                    <a href="https://web.facebook.com/WSCARGOSCL" style="display: block; font-size: 1px; font-weight: normal; line-height: normal; text-align: center; text-decoration: none" target="_blank" rel="noopener noreferrer">
                                                                                                                                                                                        <p style="font-family: Arial, verdana; font-size: 12px; color: rgb(0, 0, 0); padding: 0px; margin: 0; line-height: normal; font-family: Arial, Helvetica, sans-serif; color: rgb(68, 67, 67); font-size: 8pt; direction: rtl">
                                                                                                                                                                                            Facebook
                                                                                                                                                                                        </p>
                                                                                                                                                                                    </a>
                                                                                                                                                                                </td>
                                                                                                                                                                            </tr>
                                                                                                                                                                        </tbody>
                                                                                                                                                                    </table>
                                                                                                                                                                </td>
                                                                                                                                                            </tr>
                                                                                                                                                        </tbody>
                                                                                                                                                    </table>
                                                                                                                                                </td>
                                                                                                                                            </tr>
                                                                                                                                        </tbody>
                                                                                                                                    </table>
                                                                                                                                </td>
                                                                                                                                <td align="left" style="border: none; padding: 0px; margin: 0px"  valign="top">
                                                                                                                                    <table align="left" border="0" cellpadding="0" cellspacing="0" style="font-size: 12px; border-collapse: collapse; border: none">
                                                                                                                                        <tbody>
                                                                                                                                            <tr>
                                                                                                                                                <td style="padding-right: 9px; padding-bottom: 9px; border: none; padding: 0px; margin: 0px" valign="top">
                                                                                                                                                    <table border="0" cellpadding="0" cellspacing="0" style="font-size: 12px; border-collapse: separate; border: none">
                                                                                                                                                        <tbody>
                                                                                                                                                            <tr>
                                                                                                                                                                <td align="left" style="padding: 7px; padding-top: 0px; padding-right: 9px; padding-bottom: 0px; padding-left: 9px; border: none" valign="middle">
                                                                                                                                                                    <table align="left" border="0" cellpadding="0" cellspacing="0" style="font-size: 12px; border-collapse: collapse; border: none">
                                                                                                                                                                        <tbody>
                                                                                                                                                                            <tr>
                                                                                                                                                                                <td align="center" style="border: none; padding: 0px; margin: 0px; padding-bottom: 6px" valign="middle">
                                                                                                                                                                                    <a href="https://www.youtube.com/channel/UCSkLyJK83ry-QIPCbhX1YSg" style="text-decoration: underline; display: block; font-size: 1px" target="_blank" rel="noopener noreferrer">
                                                                                                                                                                                        <img alt="Youtube" height="35" src="https://campaign-image.com/zohocampaigns/918431000000385006_2_1652745088087_zcsclwgtyt5.png" style="border: 0px; margin: 0px; outline: none; text-decoration: none; width: 25px; height: 25px" vspace="10" width="35">
                                                                                                                                                                                    </a>
                                                                                                                                                                                </td>
                                                                                                                                                                            </tr>
                                                                                                                                                                            <tr>
                                                                                                                                                                                <td align="center" style="border: none; padding: 0px; margin: 0px" valign="middle">
                                                                                                                                                                                    <a href="https://www.youtube.com/channel/UCSkLyJK83ry-QIPCbhX1YSg" style="display: block; font-size: 1px; font-weight: normal; line-height: normal; text-align: center; text-decoration: none" target="_blank" rel="noopener noreferrer">
                                                                                                                                                                                        <p style="font-family: Arial, verdana; font-size: 12px; color: rgb(0, 0, 0); padding: 0px; margin: 0; line-height: normal; font-family: Arial, Helvetica, sans-serif; color: rgb(68, 67, 67); font-size: 8pt; direction: rtl">
                                                                                                                                                                                            Youtube
                                                                                                                                                                                        </p>
                                                                                                                                                                                    </a>
                                                                                                                                                                                </td>
                                                                                                                                                                            </tr>
                                                                                                                                                                        </tbody>
                                                                                                                                                                    </table>
                                                                                                                                                                </td>
                                                                                                                                                            </tr>
                                                                                                                                                        </tbody>
                                                                                                                                                    </table>
                                                                                                                                                </td>
                                                                                                                                            </tr>
                                                                                                                                        </tbody>
                                                                                                                                    </table>
                                                                                                                                </td>
                                                                                                                                <td align="left" style="border: none; padding: 0px; margin: 0px" valign="top">
                                                                                                                                    <table align="left" border="0" cellpadding="0" cellspacing="0" style="font-size: 12px; border-collapse: collapse; border: none">
                                                                                                                                        <tbody>
                                                                                                                                            <tr>
                                                                                                                                                <td style="padding-right: 9px; padding-bottom: 9px; border: none; padding: 0px; margin: 0px" valign="top">
                                                                                                                                                    <table border="0" cellpadding="0" cellspacing="0" style="font-size: 12px; border-collapse: separate; border: none">
                                                                                                                                                        <tbody>
                                                                                                                                                            <tr>
                                                                                                                                                                <td align="left" style="padding: 7px; padding-top: 0px; padding-right: 9px; padding-bottom: 0px; padding-left: 9px; border: none" valign="middle">
                                                                                                                                                                    <table align="left" border="0" cellpadding="0" cellspacing="0" style="font-size: 12px; border-collapse: collapse; border: none">
                                                                                                                                                                        <tbody>
                                                                                                                                                                            <tr>
                                                                                                                                                                                <td align="center" style="border: none; padding: 0px; margin: 0px; padding-bottom: 6px" valign="middle">
                                                                                                                                                                                    <a href="https://www.instagram.com/ws_cargo/?hl=es" style="text-decoration: underline; display: block; font-size: 1px" target="_blank" rel="noopener noreferrer">
                                                                                                                                                                                    <img alt="Instagram" height="35" src="https://campaign-image.com/zohocampaigns/918431000000385006_3_1652745088138_zcsclwgtinsta5.png" style="border: 0px; margin: 0px; outline: none; text-decoration: none; width: 25px; height: 25px" vspace="10" width="35"></a>
                                                                                                                                                                                </td>
                                                                                                                                                                            </tr>
                                                                                                                                                                            <tr>
                                                                                                                                                                                <td align="center" style="border: none; padding: 0px; margin: 0px" valign="middle">
                                                                                                                                                                                    <a href="https://www.instagram.com/ws_cargo/?hl=es" style="display: block; font-size: 1px; font-weight: normal; line-height: normal; text-align: center; text-decoration: none" target="_blank" rel="noopener noreferrer">
                                                                                                                                                                                        <p style="font-family: Arial, verdana; font-size: 12px; color: rgb(0, 0, 0); padding: 0px; margin: 0; line-height: normal; font-family: Arial, Helvetica, sans-serif; color: rgb(68, 67, 67); font-size: 8pt; direction: rtl">
                                                                                                                                                                                            Instagram
                                                                                                                                                                                        </p>
                                                                                                                                                                                    </a>
                                                                                                                                                                                </td>
                                                                                                                                                                            </tr>
                                                                                                                                                                        </tbody>
                                                                                                                                                                    </table>
                                                                                                                                                                </td>
                                                                                                                                                            </tr>
                                                                                                                                                        </tbody>
                                                                                                                                                    </table>
                                                                                                                                                </td>
                                                                                                                                            </tr>
                                                                                                                                        </tbody>
                                                                                                                                    </table>
                                                                                                                                </td>
                                                                                                                                <td align="left" style="border: none; padding: 0px; margin: 0px" valign="top">
                                                                                                                                    <table align="left" border="0" cellpadding="0" cellspacing="0" style="font-size: 12px; border-collapse: collapse; border: none">
                                                                                                                                        <tbody>
                                                                                                                                            <tr>
                                                                                                                                                <td style="padding-right: 9px; padding-bottom: 9px; border: none; padding: 0px; margin: 0px" valign="top">
                                                                                                                                                    <table border="0" cellpadding="0" cellspacing="0" style="font-size: 12px; border-collapse: separate; border: none">
                                                                                                                                                        <tbody>
                                                                                                                                                            <tr>
                                                                                                                                                                <td align="left" style="padding: 7px; padding-top: 0px; padding-right: 9px; padding-bottom: 0px; padding-left: 9px; border: none" valign="middle">
                                                                                                                                                                    <table align="left" border="0" cellpadding="0" cellspacing="0" style="font-size: 12px; border-collapse: collapse; border: none">
                                                                                                                                                                        <tbody>
                                                                                                                                                                            <tr>
                                                                                                                                                                                <td align="center" style="border: none; padding: 0px; margin: 0px; padding-bottom: 6px" valign="middle">
                                                                                                                                                                                    <a href="mailto:ventas@wscargo.cl" style="text-decoration: underline; display: block; font-size: 1px" target="_blank" rel="noopener noreferrer">
                                                                                                                                                                                    <img alt="Email" height="35" src="https://campaign-image.com/zohocampaigns/918431000000385006_4_1652745088184_zcsclwgtmail5.png" style="border: 0px; margin: 0px; outline: none; text-decoration: none; width: 25px; height: 25px" vspace="10" width="35"></a>
                                                                                                                                                                                </td>
                                                                                                                                                                            </tr>
                                                                                                                                                                            <tr> 
                                                                                                                                                                                <td align="center" style="border: none; padding: 0px; margin: 0px" valign="middle">
                                                                                                                                                                                    <a href="mailto:ventas@wscargo.cl" style="display: block; font-size: 1px; font-weight: normal; line-height: normal; text-align: center; text-decoration: none" target="_blank" rel="noopener noreferrer">
                                                                                                                                                                                        <p style="font-family: Arial, verdana; font-size: 12px; color: rgb(0, 0, 0); padding: 0px; margin: 0; line-height: normal; font-family: Arial, Helvetica, sans-serif; color: rgb(68, 67, 67); font-size: 8pt; direction: rtl">
                                                                                                                                                                                            Email
                                                                                                                                                                                        </p>
                                                                                                                                                                                    </a>
                                                                                                                                                                                </td>
                                                                                                                                                                            </tr>
                                                                                                                                                                        </tbody>
                                                                                                                                                                    </table>
                                                                                                                                                                </td>
                                                                                                                                                            </tr>
                                                                                                                                                        </tbody>
                                                                                                                                                    </table>
                                                                                                                                                </td>
                                                                                                                                            </tr>
                                                                                                                                        </tbody>
                                                                                                                                    </table>
                                                                                                                                </td>
                                                                                                                            </tr>
                                                                                                                        </tbody>
                                                                                                                    </table>
                                                                                                                </td>
                                                                                                            </tr>
                                                                                                        </tbody>
                                                                                                    </table>
                                                                                                </td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td class="txtsize" id="elm_1584964305032" style="border: 0px; padding: 0px 0px; border-collapse: collapse" valign="top">
                                                                <div class="zpelement-wrapper spacebar" id="elm_1584964305032" style="word-wrap: break-word; overflow: hidden; background-color: rgb(248, 249, 251)">
                                                                    <table bgcolor="#f8f9fb" border="0" cellpadding="0" cellspacing="0" class="zpAlignPos" style="padding: 0px; border: 0px; border-collapse: collapse; font-size: 5px; height: 40px" width="100%">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td style="padding: 0px; border: 0px; font-size: 5px; height: 40px; border-top: none none none; border-bottom: none none none">&nbsp;&nbsp;&nbsp; </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                        <td style="border: 0px; padding: 0px; border-collapse: collapse">&nbsp;</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </center>
    <script>var i = 0; document.querySelectorAll('a').forEach(function () { var ele = document.querySelectorAll('a')[i]; ele.setAttribute('target', '_blank'); i++; })</script>
</body>

</html>